SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5434/car_savage
SPRING_DATASOURCE_USERNAME=change-me
SPRING_DATASOURCE_PASSWORD=change-me

POSTGRES_DB=car_savage
POSTGRES_USER=change-me
POSTGRES_PASSWORD=change-me
